name: Build Windows 7 Exe

on: workflow_dispatch

jobs:
  build-windows:
    runs-on: windows-2019
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Python 3.8
        uses: actions/setup-python@v5
        with:
          python-version: '3.8'
          architecture: 'x64'

      - name: Install Dependencies
        run: |
          pip install "pikepdf<9" customtkinter tkcalendar pyinstaller

      - name: Build EXE
        run: |
          pyinstaller --noconsole --onefile --collect-all customtkinter --name ZeugnisTool_Win7 main.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ZeugnisTool_Win7_App
          path: dist/ZeugnisTool_Win7.exe
